<div class="row">
    <div class="col-lg-12" id="header">
        <a href="/#/" id="logo">
            Z
            <small class="logoWord">I</small>
            D
            <small class="logoWord">E</small>
            IN
        </a>
        <ul class="list list-inline text-right" id="headerChild">
            <li class=""><a href="/#/about">About</a></li>
            <li class=""><a href="/#/work">My works</a></li>
        </ul>
    </div>
    <div class="col-lg-12" id="textAboutMe">
        <h4>
            Hello! I'm web developer
        </h4>
    </div>
    <div id="myWork">
        <div ng-repeat="item in portfileData" class="workThumb col-xs-12 col-lg-4" style="background: {{item.bkgColor}}">
            <div class="thumb-img">
                <img src="{{item.src}}">
            </div>
            <div class="hoverThumb">
                <span class="bold">{{item.titleBold}}</span><br>
                <span class="second">{{item.titleSecond}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-12" id="textAboutMe">
        <h4>
            Hello! I'm web developer
        </h4>
    </div>
    <div id="contact">
        <h5>Teplyakov Stanislav, web developer | e-mail: stas_teplyakov@list.ru | skype: zidein07</h5>
    </div>
</div>